# Dependencies
node_modules/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
dist/
build/

# Coverage
coverage/

# Temporary files
tmp/
temp/
.cache/

# OS files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Runtime files
*.pid
*.seed
*.pid.lock

# Optional package manager files
.pnpm-store/
.npm/

# Misc
*.tgz
/src/generated/prisma
